{% extends "standard.html" %}

{% block extra_head %}
	<!-- Load up jQuery -->
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery-ui-1.9.2.custom.js"></script>
	<!-- This is used to make fancy "busy" indicators while prepping big
	downloads. Needs a special cookie in the http header to work. See the readme
	in the js directory or look at inkcov_excel() in search_views. --->
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery.fileDownload.js"></script>
	<link type="text/css" href="{{MEDIA_URL}}js/jquery/css/smoothness/jquery-ui-1.9.2.custom.css" rel="Stylesheet" />

	<!-- Javascript happens here. -->
	<script type="text/javascript">
		//prototype is loaded in GOLD's base html and it uses $ just like jquery
		//does. So we'll change $ to $j for the jQuery on this page using
		//jQuery.noConflict()
		var $j = jQuery.noConflict();

		$j(function() {
			//Date pickers
			//Date pickers
			$j( "#id_start_date" ).datepicker({
	            showOn: "button"
			}).next().button({
	            icons: {
	                primary: "ui-icon-calendar",
	                secondary: "ui-icon-triangle-1-s"
	            },
	            text: false
	        });
			$j( "#id_end_date" ).datepicker({
	            showOn: "button",
			}).next().button({
	            icons: {
	                primary: "ui-icon-calendar",
	                secondary: "ui-icon-triangle-1-s"
	            },
	            text: false
	        });//End date pickers.

		   function getDate( element ) {
		      var date;
		      try {
		         date = $j.datepicker.parseDate( dateFormat, element.value );
		      } catch( error ) {
		         date = null;
		      }

		      return date;
		   }
			// Used to cancel downloads.
			var dlReq = null;

			// Busy inidcator
			$j( "#busy_dialog" ).dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				title: "Working",
			});

			// Show busy indicator while prepping excel download.
			$j( "#excel_download" ).click(function() {
				// Set busy indicator text
				$j("#busy_dialog_text").text("Spreadsheets take a couple of minutes.");
				// Open busy indicator
				$j( "#busy_dialog" ).dialog( "open" );
				// Prep download using jquery.fileDownload.js and assign to dlReq
				dlReq = $j.fileDownload('/workflow/fsb_inkcov_excel/' + '{{starting_date}}' + '/' + '{{ending_date}}' + '/' + '{{plant}}' + '/', {
				    successCallback: function (url) {
				    	// Hide busy indicator once download is ready.
						$j( "#busy_dialog" ).dialog( "close" );
				    },
				});
			});

			// Show busy indicator while prepping next page.
			$j( '[id^=plant_page_], .pagination_controls' ).click(function() {
				// Set busy indicator text
				$j("#busy_dialog_text").text("One moment...");
				// Open busy indicator
				$j( "#busy_dialog" ).dialog( "open" );
			});

		});
	</script>
{% endblock %}

{% block body %}
	<h1>
		<img src="{{MEDIA_URL}}img/icons/color_wheel.png" />
		{{page_title}}: {{plant}}
	</h1>

	<!---Busy dialog-->
	<div id="busy_dialog">
	  <center>
		  <p><div id="busy_dialog_text"></div></p>
		  <img src="{{MEDIA_URL}}img/spinner.gif" />
	  <center>
	</div>

	<br/>
	<p>
		Enter a date range and a plant to query for all ink data from items that have been filed out to that plant.
	</p>

	<h2>
		<form method="get" action="" name="fsb_inkcov_report" enctype="multipart/form-data">
			<table>
		        {% for field in inkform %}
		            <tr>
		                <th>{{ field.label_tag }}</th>
		                <td>
		                    {{ field }}
		                </td>
		            </tr>
		        {% endfor %}
		   </table>
			<input type="submit" value="Search">
		</form>
	</h2>
	<br/>
	{% if object_list %}
		<h3>
		Data from {{starting_date}} to {{ending_date}}
		</h3>
		<p>
		  	<a id="excel_download" href='#'>
				<img src="{{MEDIA_URL}}img/icons/page_excel.png">
			  	Download this report as an Excel spreadsheet
		  	</a>
	  	</p>
		{% include "pagination_bar.html" %}
		<table width="50%">
			<tr>
				<th>Job</th>
				<th>Item Num</th>
				<th>Nine Digit</th>
				<th colspan="2">Color</th>
				<th>Coverage (sq in)</th>
			</tr>
			{% for color in object_list %}
				<tr class="{% cycle 'rowA' 'rowB' %}">
					<td>
						<a href="{% url "job_detail" color.item.job.id %}">
							{{color.item.job.id}}
						</a>
					</td>
					<td>{{color.item.num_in_job}}</td>
					<td>{{color.item.fsb_nine_digit}}</td>
					<td style="background-color:{{color.hexvalue}}">&nbsp;&nbsp;&nbsp;</td>
					<td>{{color.fsb_display_name}}</td>
					<td>{{color.coverage_sqin}}</td>
				</tr>
			{% endfor %}
		</table>
		{% include "pagination_bar.html" %}
	{% else %}
		<h1>
			No Data
		</h1>
	{% endif %}
{% endblock %}
