<div class="yui-skin-sam">
<div id="acs_nav" class="yuimenubar yuimenubarnav">
    <div class="bd">
        <ul class="first-of-type">
             <li class="yuimenubaritem first-of-type">
               <a class="yuimenubaritemlabel"
                  href="{% url "auto_corrugated_pdf_generation_form" %}">Box Form</a></li>
              <li>
               <a class="yuimenubaritemlabel"
                  href="{% url "auto_corrugated_box_search_form" %}">Search Previous Boxes</a></li>

              <li>
               <a class="yuimenubaritemlabel"
                  href="{% url "auto_corrugated_pdf_label_generation_form" %}">Label-Only Form</a></li>
              <li>
               <a class="yuimenubaritemlabel"
                  href="{% url "auto_corrugated_label_search_form" %}">Search Previous Labels</a></li>
              <li>
               <a class="yuimenubaritemlabel"
                  href="{% url "auto_corrugated_help" %}">System Help</a></li>
        </ul>
    </div>
</div>
</div>
<br />
