{% extends "standard.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/auto_corrugated/generation_styles.css" />
	{% include "yui_container_includes.html" %}
	{% include "auto_corrugated/navbar_header.inc.html" %}
 	<script type="text/javascript" src="{{YUI_URL}}build/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="{{YUI_URL}}build/animation/animation-min.js"></script>
 	<script type="text/javascript" src="{{YUI_URL}}build/container/container-min.js"></script>
	<script type="text/javascript">
	function hide_modal_wait() {
	    setTimeout("YAHOO.example.container.wait.hide()",1250);
	} // end hide_modal_wait()
	
	  function update_form_from_simple_box() {
//	     $('id_simple_box:checked' function(){
//	       alert("The checkbox has been clicked!");
//	     });

         var chk = $('id_blank_label').checked
         var list = [];
//         list = ['id_nine_digit_num', 'id_fourteen_digit_num', 'id_text_line_1', 'id_text_line_2'];
         
         if (chk){
            $('id_nine_digit_num').value = 999999999;
            $('id_fourteen_digit_num').value = 99999999999999;
            $('id_text_line_1').value = "n/a";
            $('id_text_line_2').value = "n/a";
         //   list.each(Element.hide);
            $('id_nine_digit_num').setStyle({
               color: '#C88',
               fontStyle: 'italic' 
            });
            $('id_fourteen_digit_num').setStyle({
               color: '#C88',
               fontStyle: 'italic' 
            });
            $('id_text_line_1').setStyle({
               color: '#C88',
               fontStyle: 'italic' 
            });
            $('id_text_line_2').setStyle({
               color: '#C88',
               fontStyle: 'italic' 
            });
         } else{
            $('id_nine_digit_num').clear();
            $('id_fourteen_digit_num').clear();
            $('id_text_line_1').clear();
            $('id_text_line_2').clear();
         //   $(list).each(Element.show);
         }
	  }
	  
	  /* Called when an item is selected from the Item dropdown. Update
	   * the Length/Width/Height and case count values from the defaults. */
	  function update_form_from_size_selection() {
		 var selected_value = $('id_item').getValue();
		 new Ajax.Updater("id_spec", "{% url "auto_corrugated_json_get_boxitem_specs" %}", {
			 parameters: {'boxitem_id': selected_value},
			 onComplete: function(request) {
				 update_form_from_spec_selection();
			 }
		 });
	  }
	  
	  /* Called when a spec is selected. Populates the dimension fields. */
	  function update_form_from_spec_selection() {
		  var selected_value = $('id_spec').getValue();
	      new Ajax.Request("{% url "auto_corrugated_json_get_boxitem_dimensions" %}", {
	         parameters: {'boxitemspec_id': selected_value},
	         onSuccess: function(response) {
	             var retval = response.responseText;
	             // Only do something if we get a usable value back.
	             // TODO: Check this against the split instead of string?
	             if (retval.length > 0) {
		             var dimensions = retval.split(' ')
		             $('id_dim_width').value=dimensions[0];
		             $('id_dim_length').value=dimensions[1];
		             $('id_dim_height').value=dimensions[2];
	             }
	         }
	      });
	  }

	  function generate_box() {
		   /*
		    * Fired when he user hits the Generate Box button. Calls the validator
		    * and sends off an AJAX request if all is good.
		    */
		   YAHOO.example.container.wait.show();
		   new Ajax.Request('/acs/pdf_generation_form/', {
		       method: 'POST',
		       parameters: Form.serialize('pdf_form'),
		       onSuccess: function(http_req) {
			      jsobj = http_req.responseText.evalJSON();
			   	  if (jsobj["is_error"] == false) {
				   	 // No error, send to box review page to download PDF.
		             window.location = '/acs/view_box_data/' + jsobj['message'] + '/';
		          } else {
			         // Errors in form, correct and resubmit.
		             hide_modal_wait();
		             alert(jsobj["message"]);
		          }
			   },
		   	   onComplete: function() {
			      hide_modal_wait();
			}});
		} // end generate_box()
		  
	  /* Stuff to be done on page load. */
	  function on_load() { 
          update_form_from_size_selection();
	  }
	  // When the Item drop-down changes, update the list of available specs.
	  YAHOO.util.Event.addListener("id_item", "change", 
	  		  update_form_from_size_selection);
	  // When the Spec drop-down changes, update the dimensions.
	  YAHOO.util.Event.addListener("id_spec", "change", 
              update_form_from_spec_selection);
      // When the Spec drop-down changes, update the dimensions.
      YAHOO.util.Event.addListener("id_blank_label", "change", 
              update_form_from_simple_box);
	    // Initialize the temporary Panel to display while waiting for external content to load
	    YAHOO.namespace("example.container");
	    YAHOO.example.container.wait = 
	        new YAHOO.widget.Panel("wait", {  
	            width:"240px", 
	            fixedcenter:true, 
	            close:false, 
	            draggable:false, 
	            modal:true,
	            visible:false,
	            effect:{effect:YAHOO.widget.ContainerEffect.FADE, duration:0.5} 
	        });
	    YAHOO.example.container.wait.setHeader("Updating, please wait...");
	    YAHOO.example.container.wait.setBody('<img src="{{MEDIA_URL}}img/rel_interstitial_loading.gif" />');
	    YAHOO.example.container.wait.render(document.body);
	</script>
{% endblock %}

{% block page_title %}Generate {{type}} PDF{% endblock %}

{% block body %}
<h1>{{type}} Generation Form</h1>
{% include "auto_corrugated/navbar_div.inc.html" %}

<p>
	<img src="{{MEDIA_URL}}img/icons/information.png" style="vertical-align:text-bottom" />
	Report any errors or problems to <a href="{{EMAIL_SUPPORT}}">{{EMAIL_SUPPORT}}.</a>
</p>
<div class="outline_fancy" style="width:95%">
	{% if form.errors %}
		<ul class="errorlist">
		  <li>Please correct the error{{ form.errors|pluralize }} with your submission!</li>
		</ul>
	{% endif %}
	<form id="pdf_form" name="pdf_form" class="ul_form" method="POST">
	  <div class="form_p">
	  	{{form.as_p}}
	  </div>
	{% ifequal type "Label" %}
		<input id="id_submit" class="submit" type="submit" value="Generate {{type}}" />
	{% else %}
		<a class="button" href="javascript:generate_box()">
	        <span>Generate Box</span>
	    </a>
	{% endifequal %}
    <p>&nbsp;</p>
	</form>   
</div>

{% endblock %}