{% extends "standard.html" %}

{% block extra_head %}
	{% include "yui_container_includes.html" %}
	<script type="text/javascript" src="{{MEDIA_URL}}js/workflow/job_item_entry.js"></script>
{% endblock %}

{% block body %}
<div style="min-height:450px;">
<h1 class="inline"><img src="{{MEDIA_URL}}img/icons/add.png" style="vertical-align: text-center" /> New Container Job</h1>
		<form id="newjob" name="newjob" onsubmit="add_container_job();return false;">
			<div class="outline" style="min-height:350px;background-color:#DDDDDD;float:left;width:400px">
				<input type="hidden" name="status" id="id_status" value="Pending" />
				<input type="hidden" name="workflow" id="id_workflow" value="{{workflow.id}}" />

				<label for="id_name">Name:</label>{{jobform.name}}<br />
				<label for="id_temp_platepackage">CSR:</label>{{jobform.salesperson}}<br />
				<label for="id_due_date">Due Date:</label>{{jobform.due_date}}<br />

				<label for="id_temp_printlocation">Plant:</label>{{jobform.temp_printlocation}}<br />
				<label for="id_temp_platepackage">Plates:</label>{{jobform.temp_platepackage}}<br />
			</div>

			<div class="outline" style="min-height:350px;background-color:#DDDDDD;float:left;width:350px;">
				<label for="id_instructions">Instructions:</label>{{jobform.instructions}}<br /><br />
				<br />
			</div>
			<div class="outline" style="background-color:#FFFF99;float:left;clear:both;width:756px">
				<input type="submit" value="Enter New Job" onclick="add_container_job();return false;" />
				You will enter items after this screen.
			</div>
		</form>
</div>
{% endblock %}
