{% extends "standard.html" %}

{% block extra_head %}
	<style type="text/css">
		#submit {
			border: none;
			padding: 0;
			margin: 0;
			vertical-align: text-bottom;
		}
	</style>

	<!-- Load up jQuery -->
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery-ui-1.9.2.custom.js"></script>
	<!-- This is used to make fancy "busy" indicators while prepping the excel 
	downloads. Needs a special cookie in the http header to work. See the readme
	in the js directory. --->
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery.fileDownload.js"></script>
	<link type="text/css" href="{{MEDIA_URL}}js/jquery/css/smoothness/jquery-ui-1.9.2.custom.css" rel="Stylesheet" />

	<!-- Javascript happens here. -->
	<script type="text/javascript"> 
		//prototype is loaded in GOLD's base html and it uses $ just like jquery
		//does. So we'll change $ to $j for the jQuery on this page using 
		//jQuery.noConflict()
		var $j = jQuery.noConflict();
		
		$j(document).ready(function(){
			// Busy inidcator
			$j( "#busy_dialog" ).dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				title: "Working",
			});

			// Show busy indicator for page loads.
			$j( "#submit" ).click(function() {
				// Set busy indicator text
				$j("#busy_dialog_text").text("This can take a moment...");
				// Open busy indicator
				$j( "#busy_dialog" ).dialog( "open" );
			});
		});//End jQuery stuff.
	</script>
{% endblock %}

{% load humanize %}

{% block body %}
<h1>{{page_title}}</h1>
<hr />

<!---Busy dialog-->
<div id="busy_dialog">
  <center>
	  <p><div id="busy_dialog_text"></div></p>
	  <img src="{{MEDIA_URL}}img/spinner.gif" />
  <center>
</div>

<div style="width:50%">
	<p>
	How many timesheet hours we've logged in a given month by plant.
	</p>
</div>

<h3>
	<a href="/manager_tools/" >
		<img src="{{MEDIA_URL}}img/icons/arrow_turn_left.png">
		Back
	</a>
</h3>
<br />

<!-- Data table -->
<div class="grey_bordered">
	<h2> 
		<form method="post">
			{% csrf_token %}
			Plant and Month: {{form.plant}} {{form.month}} {{form.year}}
		<input type="image" src="{{MEDIA_URL}}img/icons/arrow_refresh.png" alt="Submit" id="submit" />
		</form>
	</h2>

	<!-- welcome message is only shown on the quick initial page load.-->
	{% if welcome_message %}
		<p>{{welcome_message}}</p>
	{% else %}
		{% if hours %}
			<p>
			<h2>Total hours:</h2> {{hours|floatformat:2}}
			</p>
		{% else %}
			<p>
			No data to display. Please choose a different plant or month then hit the green refresh arrow to see data.
			</p>
		{% endif %}
	{% endif %}
</div>

{% endblock %}