{% extends "standard.html" %}

{% block body %}
<h1>{{page_title}}</h1>
<hr />

<h3>
	<!-- Use the browser history to go back. Avoids re-calculating data. -->
	<a href="javascript:history.back()">
		<img src="{{MEDIA_URL}}img/icons/arrow_turn_left.png">
		Back
	</a>
</h3>
<br />

<!-- Data table -->
<div class="grey_bordered">
	<table  class="rowHover" style="empty-cells: hide">
		<tr>
			<th>Name</th>
			<th>Average Hours</th>
		</tr>
		{% for row in averages_by_artist %}
			<tr class="{% cycle 'rowA' 'rowB' %}">
				<td>{{row.name}}</td>
				<td>
					{% for complexity in row.data %}
						<!-- Don't display the partial URL -->
						{% if complexity.0 != "URL" %}
							<!-- Only display the data if the hour average isn't zero. -->
							{% if complexity.1 > 0 %}
								{{ complexity.0 }} = {{ complexity.1}} hours<br>
							{% else %}
								<br>
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
