{% extends "standard.html" %}

{% block extra_head %}
	<style type="text/css">
		input {
			border: none;
			padding: 0;
			margin: 0;
			vertical-align: text-bottom;
		}
	</style>
{% endblock %}

{% block body %}
<h1>{{page_title}}</h1>
<hr />
<br />

<div style="width:50%">
	Year-to-date info about QC errors.
</div>
<br />

<h3>
	<a href="/manager_tools/" >
		<img src="{{MEDIA_URL}}img/icons/arrow_turn_left.png">
		Back
	</a>
</h3>
<br />

<!-- General employee data table -->
<div class="grey_bordered">
	<h2>
		<form method="post">
			{% csrf_token %}
			QC Errors for {{qcform.year}}
		<input type="image" src="{{MEDIA_URL}}img/icons/arrow_refresh.png" alt="Submit" />
		</form>
	</h2>


	<table class="rowHover">
		<tr>
			<th style="text-align:center;">Name</th>
			<th style="text-align:center;">Unresolved</th>
			<th style="text-align:center;">Resolved</th>
			<th style="text-align:center;">Invalid</th>
			<th style="text-align:center;">Total</th>
		</tr>
	{% for user in qc_metrics_by_user %}
		<tr class="{% cycle 'rowA' 'rowB' %}">
			<td>{{user.first_name}} {{user.last_name}}</td>
			<td style="text-align:right;">{{user.num_unresolved}}</td>
			<td style="text-align:right;">{{user.num_resolved}}</td>
			<td style="text-align:right;">{{user.num_invalid}}</td>
			<td style="text-align:right;">{{user.num_errors}}</td>
		</tr>
	{% endfor %}
	</table>
</div>

<!-- Detailed employee data table -->
{% load extra_space %}
<div class="grey_bordered">
	<h2>QC Errors Breakdown</h2>
	<table class="rowHover">
		<th style="text-align:center;">Name</th>
		{% for catergory in qc_categories %}
			<th style="text-align:center;">{{catergory.title|extra_space}}</th>
		{% endfor %}
		</tr>
	{% for user in qc_metrics_by_user %}
		<tr class="{% cycle 'rowA' 'rowB' %}">
		<td style="white-space:nowrap;">{{user.first_name}} {{user.last_name}}</td>
		{% for errors in user.errors_by_category %}
			<td style="text-align:right;">{{errors}}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}
