attr==0.3.2
bpython==0.25
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
coreschema==0.0.4
cryptography==45.0.6
cx_Oracle==8.3.0
dj_database_url==3.0.1
django_guid==3.5.2
django_js_reverse==0.10.2
django_stubs_ext==5.2.2
docutils==0.22
drf_spectacular==0.28.0
filelock==3.19.1
h2==4.2.0
HTMLParser==0.0.2
inflection==0.5.1
ipdb==0.13.13
ipython==9.4.0
ipywidgets==8.1.7
isort==6.0.1
keyring==25.6.0
Markdown==3.8.2
model_bakery==1.20.5
MySQL-python==1.2.5
numpy==2.3.2
oracledb==3.3.0
Pillow==11.3.0
protobuf==6.32.0
psycopg==3.2.9
psycopg2==2.9.10
psycopg_pool==3.2.6
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==25.1.0
python-decouple==3.8
pytz==2025.2
pywatchman==3.0.0
PyYAML==6.0.2
sentry_sdk==2.35.0
simplejson==3.20.1
Sphinx==8.2.3
tblib==3.1.0
thread==2.0.5
typing_extensions==4.14.1
uritemplate==4.2.0
urllib3_secure_extra==0.1.0
zstandard==0.24.0
