<div class="yui-skin-sam">
<div id="itemmgt_nav" class="yuimenubar yuimenubarnav">
    <div class="bd">
        <ul class="first-of-type">
             <li class="yuimenubaritem first-of-type">
               <a class="yuimenubaritemlabel" href="#">
                 Home
               </a>
             </li>
             <li class="yuimenubaritem">
               <a class="yuimenubaritemlabel" href="#">
                 PDF Templates
               </a>
             </li>
        </ul>
    </div>
</div>
</div>
<br />
