{% extends "standard.html" %}

{% block extra_head %}
    {% include "yui_container_includes.html" %}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/drawdown/drawdown.css" type="text/css" media="all" />
    <script type="text/javascript" src="{{MEDIA_URL}}js/drawdown/drawdown.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/prototype.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/ckeditor/ckeditor.js"></script>
    
    <!-- Load up jQuery -->
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery-ui-1.9.2.custom.js"></script>
	<link type="text/css" href="{{MEDIA_URL}}js/jquery/css/smoothness/jquery-ui-1.9.2.custom.css" rel="Stylesheet" />
	
	<!-- Javascript happens here. -->
	<script type="text/javascript"> 	
		//prototype is loaded in GOLD's base html and it uses $ just like jquery
		//does. So we'll change $ to $j for the jQuery on this page using 
		//jQuery.noConflict()
		var $j = jQuery.noConflict();
		
		//jQuery document ready stuff.
		$j(document).ready(function(){
			var counter = 1;
			//Makes javascript stuff print to the console. Example: log('Hello World');
			function log(msg) {
			    setTimeout(function() {
			        throw new Error(msg);
			    }, 0);
			}
			
		    $j('#add_more_drawdown').click(function() {
		        cloneMore('div.drawdown:last', 'Drawdown');
		    });
		    
		    $j(document).on('click', ".drawDownRemove", function() {
		    	const id_to_remove = $j(this).attr("id").split('_')[1];
		    	removeForm('div.drawdown:last', 'Drawdown', id_to_remove);
		    });
		   
			//Adds an extra form to a formset dynamically.
			function cloneMore(selector, type) {
			    //Find out how many forms we're starting with.
	            var total = parseInt($j('#id_' + type + '-TOTAL_FORMS').val());
	            var total = parseInt(total);
				//Create a clone of the selected form. Using clone(true) breaks 
				//auto completion for proof forms and has no other benefit.
			    if (type=="Drawdown"){
			   		var newElement = $j(selector).clone();
			   		newElement.attr("id", 'drawdown_' + counter);
			    }
			    //Increase the cloned form's labels, names, and IDs by 1.
		        newElement.find('td, th').find('*').each(function() {       
	   				if($j(this).attr('for')){
	   					var new_for = $j(this).attr('for').replace((counter-1), counter);
	   					$j(this).attr({'for': new_for});
	   				}
	   				if($j(this).attr('id')){
	   					var new_id = $j(this).attr('id').replace((counter-1), counter);
	   					$j(this).attr({'id': new_id});
	   				}
	   				if($j(this).attr('name')){
	   					var new_name = $j(this).attr('name').replace((counter-1), counter);
	   					$j(this).attr({'name': new_name});
	   				}
	            });
	            //Increate the formset's total form count by 1.     
	            total++;
	            $j('#id_' + type + '-TOTAL_FORMS').val(total);
		        //Put the newly cloned form after the original.
		        $j(selector).after(newElement);
		        //This clears all the values from the newly cloned form.
		        $j(selector + " input[type=text]").val("");
		        $j(selector + " input[type=file]").val("");
		        //$j(selector + " input[type=number]").val("");
		        $j(selector + " input[type=number]").val("");
		        $j(selector + " input[max=100]").val("1");
		        $j(selector + " select").val("");
		        $j(selector + " textarea").val("");
		        $j(selector + " input[type=checkbox]").attr('checked', true);
		        $j(selector + " button").attr('id', "drawdownremove_"+counter);
		        $j(selector + " button").css('display', "inherit");
	            //This will increase the index number in the table's header by 1.
	            $j(selector + ' .header_index').replaceWith("<span class='header_index'>"+ type + " " + total + "</span>");
				counter++;
			}//End formset cloning                
		
			//Remove the last form from a formset dynamically.	
			function removeForm(selector, type, id_to_remove) {
				//Check which form this is by it's index number.
				var index = $j(selector + ' input').attr('id').split('-')[1];
				var element = $j('#drawdown_'+id_to_remove);
				//Make sure we don't remove the very last form from the formset.
				if (id_to_remove > 0){
					$j(element).remove();
		            //Decreate the formset's total form count by 1.     
		            var total = $j('#id_' + type + '-TOTAL_FORMS').val();
		            //total--;
		            $j('#id_' + type + '-TOTAL_FORMS').val(total);
				}
			}//End formset remover.
		});
	
	</script> 
	
	<style type="text/css">
		button#add_more_drawdown {
			width: 150px;
			height: 30px
		}
		button.drawDownRemove {
			width: 150px;
			height: 30px
		}
	</style>
	
{% endblock %}

{% block body %}
<div class="drawdownreq">
<h1 class="title" style="text-align:center">{{page_title}}</h1>
<p>Enter information to complete a Drawdown Request. If a job number is not known, leave the field blank. On completion, hit the <i><b>Enter Request</b></i> 
button to submit your request. Other options are to hit the <b><i>Show Request</b></i> button to see all of the current Drawdown Request in the system or 
<i><b>Search Request</i></b> through previous requests. If you want to view the old system click the <i><b>Show Legacy Req</i></b> button. </p>

<p style="text-align:center">
	<b>INX</b>	<br />
	<b>Email:</b> homewoodlab@inxintl.com <br />
	<b>Address:</b> 1000 Maple Ave., Homewood, IL 60430 <br />
	
	
</p>	

<br />

 <p>
 <form method="post" id="drawdowndata" name="drawdowndata" onsubmit="drawdown_add();return false;">
 	<dd class="hide">{{ drawdownReqform.creation_date }}</dd>
 	<dd class="hide">{{ drawdownReqform.request_complete }}</dd>
	<h1 style="text-align:center">Drawdown Request</h1>
	<p style="text-align:center">This is the main job related information for the drawdown request.</p>
 	<br />
	<table style="width:80%;margin: 0 auto">
   		<tr>
	    	<td>Requested By: {{ drawdownReqform.requested_by }}</td>
	    	<td>Date Needed: {{ drawdownReqform.date_needed }}</td>
	    </tr>
	    <tr>
	    	<td>Customer Name: {{ drawdownReqform.customer_name }}</td>
	    	<td>Job #: {{ drawdownReqform.job_number }}</td>
	    </tr>
	    <tr>
	    	<td>
	           	Send Prints To:<br /><i style="font-size: 0.85em;">(250 characters)</i>
	      		{{ drawdownReqform.send_prints_to }}
			</td>
			<td>
				Comments/Notes:<br /><i style="font-size: 0.85em;">(500 characters)</i>
				{{ drawdownReqform.comments }}
			</td>
		</tr>
	</table>
    
    <h1 style="text-align:center">Drawdown Items</h1>
    <p style="text-align:center">This is information related to each individual item in the draw down request.
     Click on add or remove below to add more items to the drawdown request.</p>
 	<br />
 	
    {{ drawdownItemForm.management_form }}
    {% for drawdownItem in drawdownItemForm %}
    {{ drawdownItem.id }}
    <div class="drawdown" id="drawdown_0">
    	<h3 style="text-align:center">New Item</h3>
	    <table style="width:80%;margin: 0 auto">
	   		<tr>
				<td>
					Print Location:
					{{ drawdownItem.print_location }}
				</td>
				<td>
					Substrate:
					{{ drawdownItem.substrate }}
				</td>
				<td>
					<table>
						<tr>
					    	<td>
					    	Item Number: {{ drawdownItem.item_number }}
					    	</td>
						</tr>
						<tr>
							<td>
			    			Number of Copies: {{ drawdownItem.number_copies }}
			    			</td>
			    		</tr>
			    		<tr>
			    			<td>
					    	Artwork Available: {{ drawdownItem.artwork }}
					    	</td>
					    </tr>
						<tr>
							<td>
							Colors Needed:<br /><i style="font-size: 0.85em;">(250 characters)</i>
							{{ drawdownItem.colors_needed }}
							
		
							</td>
						</tr>
					</table>
				</td>
		    </tr>
		 </table>
		 <div style="width:80%;margin: 0 auto">
		 	<button style="display:none" type="button" class="drawDownRemove" id="drawdownremove_0">Remove Drawdown Item</button>
		 </div>
	 </div>
    {% endfor %}
    <div style="width:80%;margin: 0 auto">	
	    <button type="button" id="add_more_drawdown" >Add Drawdown Item</button>
	</div>
   
        {% if drawdownform.help_text %}<dd>{{ drawdownform.help_text }}</dd>{% endif %}
        {% if drawdownform.errors %}<dd class="myerrors">{{ drawdownform.errors }}</dd>{% endif %}

        <div class="clearfix centered-submit">		
            <div class="submit">
                <input type="submit" value="Enter Request" onclick="drawdown_add();return false;" />
            </div>
            <div class="show-request">
               <input value="Show Legacy Req" onclick="drawdown_show_legacy();return false;" />
            </div>
            <div class="show-request">
               <input value="Show Request" onclick="drawdown_show();return false;" />
            </div>
            <div class="search">
                <input value="Search Request" onclick="drawdown_search();return false;" />
            </div>
            <div class="clearfix"></div>
        </div>
        
</form>
</p>

</div>



{% endblock %}