{% extends "standard.html" %}

{% block extra_head %}
    {% include "workflow/itemcatalog/navbar_header.inc.html" %}
	{% include "yui_container_includes.html" %}
	<script type="text/javascript" src="{{MEDIA_URL}}js/workflow/item_catalog.js"></script>
{% endblock %}

{% block body %}

<h1 class="inline">Edit Product in Item Catalog</h1><br /><br />
{% include "workflow/itemcatalog/navbar_div.inc.html" %}
	<form id="itemcatalog" name="itemcatalog" onsubmit="edit_itemcatalog('{{item.id}}');return false;">
		<div class="form_p">
		  	{{add_form.as_p}}
		</div>
		<input type="submit" value="Edit Product" onclick="edit_itemcatalog('{{item.id}}');return false;" />
	</form>
{% endblock %}
