{% extends "standard.html" %}

{% block extra_head %}
	<style type="text/css">
		.warningButton {
			background-color:lightgrey;
			color:black;
			margin-left:28px;
			border-radius:9px;
			width:90px;
		}
		.warningButton:hover {
			background-color:darkgrey;
		}
	</style>
{% endblock %}

{% block body %}
<div style="background-color:#666666">
<table style="text-align: center;background-color:transparent;border: none;margin: 0px auto;">
	<tr>
	    <td style="background-color:inherit;border:inherit">
			<h1 style="color:white">**Warning: Press change jobs will ignore color warnings**</h1>
		</td>
	</tr>
	<tr>
	    <td style="color:white;text-align:center;background-color:inherit;border:inherit">
			<h1 style="color:white; text-align:center">Please enter a new color warning</h1>
		</td>
	</tr>
</table>
</div>

<form method="post" action="/workflow/color_warning/add_warning/">	
	<div style="text-align: center;background-color:#666666">
		<table style="background-color: transparent;margin: 0px auto;border:none">
			<tr>
				<td style="background-color:inherit;border:inherit">
					<label style="color:white;text-align:center">Pantone Color:</label>
					<!-- Pantone color is being swapped for definition but not in the model, so we are changing in the templates -->
					{{ form.definition }}
				</td>
			</tr>
			<tr>
				<td style="background-color:inherit;border:inherit">
					<label style="color:white;text-align:center">QPO#:</label>
					{{ form.qpo_number }}
				</td>
			</tr>
			<tr>
				<td style="background-color:inherit;border:inherit">
					<label style="color:white;text-align:center">Notes:</label>
					{{ form.notes }}
				</td>
			</tr>
			<tr>
				<td style="background-color:inherit;border:inherit">
					<label style="color:white;text-align:center">Active:</label>
					{{ form.active }}
				</td>
			</tr>
			<tr>
				<td style="background-color:inherit;border:inherit">
					<input class="warningButton" type="submit" value="Add Warning" />
				</td>
			</tr>
		</table>
	</div>	
	<div style="background-color:white">
		<h2>
		   <a href="/workflow/color_warning/color_warning/" >Back to Home</a>
		</h2>
	</div>	
</form>

{% if errors %}
	<h1 style="color:red; text-align:center">Please correct the following:</h1>
	{% for error in errors %}
		<h1 style="color:red; text-align:center">{{ error }}</h1>
	{% endfor %}
{% endif %}

{% endblock %}