{% extends "standard.html" %}

{% block extra_head %}
  {% include "workflow/misc/trends/navbar_header.inc.html" %}
{% endblock %}

{% block body %}
		{% include "workflow/misc/trends/navbar_div.inc.html" %}
		<p>
		This section will display trends at the Clemson Graphics Hub in regard to
		the Foodservice Business. If you have additional ideas for graphs or charts
		you'd like to see, please email James at <a href="mailto:James.Mccracken@GraphicPkg.com">James.Mccracken@GraphicPkg.com</a>.
{% endblock %}
