<img src="{{MEDIA_URL}}img/icons/chart_curve.png" style="vertical-align:text-center" alt="Trends"/><h1 class="inline"> GCHUB Trends - Foodservice</h1><br />
<br />
<div class="yui-skin-sam">
<div id="trend_nav" class="yuimenubar yuimenubarnav">
    <div class="bd">
        <ul class="first-of-type">
             <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="{% url "data_trends_main" %}">Trends Menu</a></li>
             <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url "data_trends_volume" %}">Yearly Volume</a></li>
             <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url "data_trends_cuptype" %}">Seasonal Cup Type</a></li>
             <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url "data_trends_quality" %}">Yearly Quality</a></li>
        </ul>
    </div>
</div>
</div>
<br />
