{% extends "standard.html" %}

{% block body %}
<h1>Clemson Graphic Communications Hub Contacts</h1>
	<table style='width:85%'>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Position</th>
		</tr>
		<tr>
			<td><b>Front Desk</b></td>
			<td><b><center>864-633-6000</center></b></td>
			<td>gchub.clemson@graphicpkg.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Bradford, Keegan</td>
			<td><center>864-633-6039</center></td>
			<td>Keegan.Bradford@GraphicPkg.com</td>
			<td>Graphic Arts Supervisor - Bev</td>
		</tr>
		<tr>
			<td>Congdon, Shelly</td>
			<td><center>864-633-6006</center></td>
			<td>Shelly.Congdon@GraphicPkg.com</td>
			<td>Graphic Design &amp; Production</td>
		</tr>
		<tr>
			<td>Gilbert, Jordan</td>
			<td><center>864-633-6014</center>	</td>
			<td>Jordan.Gilbert@GraphicPkg.com</td>
			<td>Graphic Arts Specialist - Bev</td>
		</tr>
		<tr>
			<td>Jones, Clayton</td>
			<td><center>864-633-6015</center></td>
			<td>Clayton.Jones@GraphicPkg.com</td>
			<td>Graphic Arts Supervisor - FSB</td>
		</tr>
		<tr>
			<td>Loudermilk, Donna</td>
			<td><center>864-633-6003</center></td>
			<td>Donna.Loudermilk@GraphicPkg.com</td>
			<td>New Items - FSB</td>
		</tr>
		<tr>
			<td>Harris, Jacey Rae</td>
			<td><center>864-633-6000</center></td>
			<td>Jacey.R.Harris@GraphicPkg.com</td>
			<td>Business Systems Analyst</td>
		</tr>
		<tr>
			<td>Morris, Angela</td>
			<td><center>864-633-6005</center></td>
			<td>Angela.Morris@GraphicPkg.com</td>
			<td>Technical Administrator</td>
		</tr>
		<tr>
			<td>Nataraj, Madhura</td>
			<td><center>864-633-6000</center></td>
			<td>Madhura.Nataraj@GraphicPkg.com</td>
			<td>Graphic Arts Specialist - FSB</td>
		</tr>
		<tr>
			<td>Schultz, Matthew</td>
			<td><center>864-633-6012</center></td>
			<td>Matthew.Schultz@graphicpkg.com</td>
			<td>Graphic Arts Specialist - FSB</td>
		</tr>
		<tr>
			<td>Urso, Tom</td>
			<td><center>864-633-6004</center></td>
			<td>Thomas.Urso@GraphicPkg.com</td>
			<td>Graphic Arts Specialist - FSB</td>
		</tr>
		<tr>
			<td>Vicente, Juan</td>
			<td><center>864-633-6013</center></td>
			<td>Juan.Vicente@graphicpkg.com</td>
			<td>Graphic Arts Specialist - FSB</td>
		</tr>
		<tr>
			<th bgcolor="74382D"><strong>FAX</strong></th>
			<th><center>864-653-5168</center></th>
		</tr>
	</table>
	<h2>SHIPPING</h2>
	<p>
		Graphic Communications Hub<br />
		155 Old Greenville Hwy<br />
		Suite 103<br />
		Clemson, South Carolina 29631
	</p>
	<h2>FTP</h2>
	<p>
	Please see:
	<a href="http://wiki.na.graphicpkg.pri/index.php/FTP_Information#Customers_Uploading_Files">
		Customers Uploading Files
	</a>
	</p>

{% endblock %}
