{% extends "standard.html" %}

{% block page_title %}Changed Password{% endblock %}

{% block extra_head %}
  {% include "preferences/navbar_header.inc.html" %}
{% endblock %} 

{% block body %}
<h1>Preferences - Change Password</h1>
{% include "preferences/navbar_div.inc.html" %}

{% if form.errors %}
    <p class="warning">Please correct the errors below.</p>
{% endif %}
<p>
  You may change your password by filling in the form below. Password changes
  take effect immediately.
</p>

<form method="post">
  {% csrf_token %}
  <div style="white-space:nowrap">Old Password: </div>
  {{form.old_password.errors}}
  <div >{{ form.old_password }}</div>
  <br />
  <div style="white-space:nowrap">New Password: </div>
  {{form.new_password1.errors}}
  <div >{{ form.new_password1 }}</div>
  <br />
  <div style="white-space:nowrap">Confirm New Password: </div>
  {{form.new_password2.errors}}
  <div >{{ form.new_password2 }}</div>
  <br />
  <button type="submit">Save changes</button>
</form>
{% endblock %} 