{% extends "standard.html" %}

{% block page_title %}Changed Password{% endblock %}

{% block extra_head %}
  {% include "preferences/navbar_header.inc.html" %}
{% endblock %} 

{% block body %}
<h1>Preferences - Change Password</h1>
{% include "preferences/navbar_div.inc.html" %}

{% if form.errors %}
    <p class="warning">Please correct the errors below.</p>
{% endif %}
<p>
  You may change your password by filling in the form below. Password changes
  take effect immediately.
</p>

<form id="password_form" action="{{form_url}}" method="post">
  {% csrf_token %}
  <p>
    <table>
      {{form}}
    </table>
  </p>
  <p>  
    <a class="button" href="javascript:window.location='{% url "preferences" %}'">
      <span>Cancel</span>
    </a>
    <a class="button" href="javascript:$('password_form').submit()">
      <span>Change Password</span>
    </a>
  </p>
</form>  
{% endblock %}