{% extends "standard.html" %}

{% block page_title %}Password Changed{% endblock %}

{% block extra_extra_head %}
{% include "preferences/navbar_header.inc.html" %}
  <script type="text/javascript">
    function on_load() {
        setTimeout( "window.location.href = '{% url "preferences" %}'", 3*1000 );
    }
  </script>
{% endblock %}

{% block body %}
<h1>Preferences - Password Changed</h1>
{% include "preferences/navbar_div.inc.html" %}
<p>Your password has been successfully changed.</p>
<p>
  You will be redirected back to your preferences page shortly. Click
  <a href='{% url "preferences" %}'>here</a> if you would like to go there now.
</p>
{% endblock %}
