<div class="yui-skin-sam">
<div id="platemaking_nav" class="yuimenubar yuimenubarnav">
    <div class="bd">
        <ul class="first-of-type">
           	<li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="{% url "plate_reorder_search" %}">Plate Reorder Search</a></li>
           	<li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url "plate_reorder_list" %}">View Pending/Complete Reorders</a></li>
        </ul>
    </div>
</div>
</div>
<br />
