{% comment %}
--------------------------------------------------------------------------------
This is the base template which all popups are derived from. It sets some
minimal style stuff and javascript includes.
--------------------------------------------------------------------------------
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{YUI_URL}}build/base/base-min.css" />
  <link rel="stylesheet" href="{{MEDIA_URL}}css/base.css" type="text/css" />
  <script type="text/javascript" src="{{MEDIA_URL}}js/prototype.js"></script>
  <title>{% block page_title %}Title Needed{% endblock %}</title>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body_content %}
  {% endblock %}
</body>
</html>
