{% extends "standard.html" %}

{% block extra_head %}
	{% include "yui_container_includes.html" %}
	{% include "address/navbar_header.inc.html" %}
	<script type="text/javascript" src="{{MEDIA_URL}}js/address/address.js"></script>
{% endblock %}

{% block body %}
<h1>Add New Contact</h1>
{% include "address/navbar_div.inc.html" %}
<p>
<form id="newcontactdata" name="newcontactdata" onsubmit="contact_add();return false;">
	<div class="outline" style="width:420px; padding-left:8px;">
		<dl>
		{% for field in contactform %}
		    <dt>{{ field.label_tag }}</dt>
		    <dd>{{ field }}</dd>
		    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
		    {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
		{% endfor %}
		</dl>
		<input type="submit" value="Enter Information" onclick="contact_add();return false;" />
	</div>
</form>
</p>
{% endblock %}
