{% extends "standard_popup.html" %}

{% block page_title %}Code Added{% endblock %}

{% block body_content %}
	<div class="outline_fancy" style="background-color:#FFFFFF;padding:6px;">
		  <h2 style='text-align:center'>Code Added.</h2>
		  <p>
		    Your code has been added. Close this window, then refresh your form
		    to have access to the new code.
		  </p>
		  <p style='text-align:center'>
		    <input type='button' value="Close Window" onclick='window.close();'/>
		  </p>
 	 </div>
{% endblock %}
