{% extends "standard.html" %}

{% block extra_head %}

	<!-- Load up jQuery -->
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/js/jquery-ui-1.9.2.custom.js"></script>
	<link type="text/css" href="{{MEDIA_URL}}js/jquery/css/smoothness/jquery-ui-1.9.2.custom.css" rel="Stylesheet" />

	<!-- Load up YUI -->
	<script type="text/javascript" src="{{YUI_URL}}build/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="{{YUI_URL}}build/animation/animation-min.js"></script>
	<script type="text/javascript" src="{{YUI_URL}}build/container/container-min.js"></script>
	{% include "yui_container_includes.html" %}

	<!--CSS-->
	<style type="text/css">
		label { width:150px; }
		#product_table{ empty-cells:hide; }
		#tabs-1{ empty-cells:hide; }
		#corr_help{ line-height:normal; }
		#print_type_dialog{ line-height:normal; }
	    alnright{ text-align: right; }
		tr.corrigated th{ background-color: #A0A0A0; }
		tr.corrigated_all th{ background-color: #A0A0A0; }
		tr.corrigated_preprint_field th{ background-color: #A0A0A0; }
		tr.selector_corrigated th{ background-color: #A0A0A0; }
		.ui-autocomplete {
			max-height: 150px;
			overflow-y: auto;
			/* prevent horizontal scrollbar */
			overflow-x: hidden;
		}

	</style>
	<style type="text/css">
		.override {display: none}
	</style>

	<!-- Javascript happens here. -->
	<script type="text/javascript">
		//prototype is loaded in GOLD's base html and it uses $ just like jquery
		//does. So we'll change $ to $j for the jQuery on this page using
		//jQuery.noConflict()
		var $j = jQuery.noConflict();

		//jQuery document ready stuff.
		$j(document).ready(function(){
			$j("body").fadeIn();

			//Tabs across the top of the page.
	        var $jtabs = $j( "#tabs" ).tabs();

	        //Move the New Print Group option to the top of the printgroup field.
	        $j("#id_printgroup option[value=4363]").insertAfter("#id_printgroup option:first");

	        //Auto generate Next/Previous Tab buttons at the bottom of the tabs.
			$j(".ui-tabs-panel").each(function(i){
				var totalSize = $j(".ui-tabs-panel").size() - 1;
				//Puts a previous button everywhere but the first tab.
				if (i != 0) {
					prev = i;
					$j(this).append("<button id='prev_tab' onclick=href='#' class='prev-tab mover' rel='" + prev + "'>Prev</button>");
				}
				//Puts a next button everywhere but the last tab.
				if (i != totalSize) {
					next = i + 2;
					$j(this).append("<button id='next_tab' onclick=href='#' class='next-tab mover' rel='" + next + "'>Next</button>");
				}

				$j(this).append("<button type='button' name='form_save' class='save' >Save</button>");

				//Puts the submit button on the last tab.
				if (i == totalSize) {
					$j(this).append("<button type='submit' name='form_submit' id='form_submit'>Review Request</button>");
					$j("#form_submit").append('<input type="hidden" name=partial value="{{currentArt.id}}"/>');
				}

			});

			$j('.next-tab, .prev-tab').click(function() {
		           $jtabs.tabs('select', $j(this).attr("rel"));
		          return false;
			});//End tabs.

			$j('.save').click(function() {
				var artData = $j('#form1').serialize();

				artData += "&form_save=''&partial={{ currentArt.id }}";
				$j.ajax({
				  type: "POST",
				  url: "/art_req/add/",
				  data: artData,
				  context: this,
				  success: function(data, status) {
					  data = JSON.parse(data);
					  if(data['is_error'] == true){
						  alert(data['message']);
					  }else{
						  alert("Your Art Request has not been submitted yet, only saved to be completed later.");
						  window.location.href = "/art_req/home/";
					  }
				  }
				});
			});

			// Enables tooltips which display a field's title.
			$j( "#tabs-1,#tabs-2,#tabs-3" ).tooltip({
				show: {
				effect: "slideDown",
				delay: 250
				}
			});

			//Date pickers
			$j( "#id_arrival_date" ).datepicker({
	            showOn: "button"
			}).next().button({
	            icons: {
	                primary: "ui-icon-calendar",
	                secondary: "ui-icon-triangle-1-s"
	            },
	            text: false
	        });
			$j( "#id_date_needed" ).datepicker({
	            showOn: "button",
	            beforeShowDay: $j.datepicker.noWeekends
			}).next().button({
	            icons: {
	                primary: "ui-icon-calendar",
	                secondary: "ui-icon-triangle-1-s"
	            },
	            text: false
	        });//End date pickers.

			//Show/hide the market segment dialog box.
				//Dialog box options.
	        $j( "#mkt_seg_dialog" ).dialog({
	            autoOpen: false,
	            show: "fade",
	            hide: "fade",
	            modal: true
	        });

	        	//Opens dialog when icon is clicked.
	        $j( "#mkt_seg_opener" ).click(function() {
	        	//Grabs mkt seg's primary key so we can look it up in the db
	        	var SegID = $j("#id_mkt_segment :selected").val()
				//Gets mkt seg info via mktseg_lookup() in the view.
				$j.get("/art_req/add/mktseg/"+SegID+"/", function(data) {
					//Set the title.
					$j("#mkt_seg_dialog").dialog( "option", "title", data.name );
					//Set the description.
					$j('#mkt_seg_dialog')[0].innerHTML=data.description;
				});
	        	//Open the dialog box.
	            $j( "#mkt_seg_dialog" ).dialog( "open" );
	            return false;
	        });//End market segment dialog.

		    //Corrugated help dialog.
			$j( "#corr_help" ).dialog({
	            autoOpen: false,
				width: 600,
	            show: "fade",
	            hide: "fade",
				modal: true,
		    });

		    //Opens corrugated help when help button is clicked.
		    $j( "#corr_help_opener" ).click(function() {
		   		$j( "#corr_help" ).dialog( "open" );
		   		return false;
		    });

		    //Print type dialog.
			$j( "#print_type_dialog" ).dialog({
	            autoOpen: false,
				width: 600,
	            show: "fade",
	            hide: "fade",
				modal: true,
		    });

		    //Opens print type info when help button is clicked.
		    $j( "#print_type_opener" ).click(function() {
		   		$j( "#print_type_dialog" ).dialog( "open" );
		   		return false;
		    });

			//Busy indicator.
			$j( "#form_submit" ).click(function() {
				YAHOO.example.container.wait.show();
			});

		    //Changes the look of some buttons via jquery ui.
		    	//Market segment more info button.
			$j( "#mkt_seg_opener" ).button({
			    icons: {
			        primary: "ui-icon-help"
			    },
			    text: false
			});
		    	//Print type more info button.
			$j( "#print_type_opener" ).button({
			    icons: {
			        primary: "ui-icon-help"
			    },
			    text: false
			});
				//Corrugated help button.
			$j( "#corr_help_opener" ).button({
			    icons: {
			        primary: "ui-icon-help"
			    },
			    text: false
			});
				//Add More and Remove Last buttons
			$j('button[id^="add_more_"]').button({
			    icons: {
			        primary: "ui-icon-plusthick"
			    }
			});
			$j('button[id^="remove_"]').button({
			    icons: {
			        primary: "ui-icon-minusthick"
			    }
			});
				//Previous tab buttons
	        $j( "button.next-tab" ).button({
	            icons: {
	                secondary: "ui-icon-circle-arrow-e"
	            }
		    });
		    	//Next tab buttons
	        $j( "button.prev-tab" ).button({
	            icons: {
	                primary: "ui-icon-circle-arrow-w"
	            }
		    });
	    	//The submit button
	        $j( "button.save" ).button({
	            icons: {

	            }
		    });//End button stuff.
		    	//The submit button
	        $j( "#form_submit" ).button({
	            icons: {
	                secondary: "ui-icon-check"
	            }
		    });//End button stuff.

		    //Show and hide extra corrigated fields
				//Watches the corrigated type fields and shows/hides fields based on
				//what's selected.
			$j('select[id$="corr_type"]').change(function() {
				//Grab the index number so we know which table this is.
				var index = $j(this).attr('id').split('-')[1];
				//Grab whats currently selected.
				var type = $j(this).val();
				//Grab all the rows in this table.
				var rows = $j('table.product_table_class:eq(' + index+ ') tr[class^="corrigated"]');
				//Filter out the various corrigated field types.
				var corrigated = rows.filter('.corrigated');
				var corrigated_preprint_field = rows.filter('.corrigated_preprint_field');
				var corrigated_all = rows.filter('.corrigated_all');
				//Show the right fields depending on what's selected
				if (type == 'gpi' || type == 'custom') {
				    corrigated.show();
				    corrigated_all.show();
				    corrigated_preprint_field.hide();
				}
				else if (type == 'preprint') {
				    corrigated_preprint_field.show();
				    corrigated_all.show();
				    corrigated.hide();
				}
				else {
				    corrigated.hide();
				    corrigated_preprint_field.hide();
				    corrigated_all.hide();
				}
			});//End change watcher

			//This will trigger the above function and check what fields to show
			//every time the page loads.
			$j('select[id$="corr_type"]').trigger('change');
			//End Show and hide corrigated stuff.

			//Casepack choice field limiter
			//Clone the casepack input becuase we need it due to the stupid way
			//we handle limiting the casepack field when a size is selected.
			var mastercasepack = $j("#id_Product-0-case_pack").clone(true);
			var blank_option = $j("#id_Product-0-case_pack option:first");
			//Watch the size fields and when they change limit the casepack fields.
			$j('select[id$="size"]').change(function() {
				//Grab the index number so we know which table this is.
				var index = $j(this).attr('id').split('-')[1];
				//Grab whats currently selected in the size field.
				var size = $j(this).val();
				//If there's no size just set it to zero so the rest will fail
				//cleanly.
				if (size == ""){
					size = 0;
				}
				//Select the casepack field after this size field.
				var casepack_selector = $j("select[id$='case_pack']:eq(" + index + ")")
				var name = casepack_selector.attr('name');
				var id = casepack_selector.attr('id');
				//Grabs an array of casepacks for this size.
				$j.get("/art_req/add/casepack/"+size+"/", function(casepacks) {
					if(casepacks.length > 0){
						//Loop through the array and build a string that will select
						//multiple casepacks when dropped into another selector below.
						var casepack_string = "[value='" + blank_option.val() + "'],";
						for (var i = 0; i < casepacks.length; i++) {
						    casepack_string = casepack_string.concat("[value='" + casepacks[i]+ "'],");
						}
						//Chop the last comma off.
						var casepack_string = casepack_string.slice(0,-1);
						//Reset the available casepack selections by cloning the
						//master casepack. Yes, this is a dumb way to do this.
						//Thanks IE.
						var newcasepack = mastercasepack.clone(true);
						newcasepack.attr({'name': name, 'id': id});
						casepack_selector.replaceWith(newcasepack);
						//Remove all casepack options except the ones in the array.
						$j("#" + id + " > option:not("+ casepack_string +")").remove();
					}
					else{
						//This size doesn't have a casepack. Remove all casepack
						//options.
						$j("#" +id+" option" ).replaceWith(blank_option);
					}
				});
			});

			//This will empty out the casepack list if the size is empty on load.
			var size = $j('select[id$="size"]');
			if (size.val()  == ""){
				size.trigger('change');
			}
			//End Casepack choice field limiter

			//Corrigated only enabler.
			//Enables the corrugated only checkbox when preprint is selected.
			$j('select[id$="corr_type"]').change(function() {
				//Grab whats currently selected in the corrugated type field.
				var type = $j(this).val();
				if (type == "preprint"){
					$j('input[id$="corr_only"]').prop('disabled', false);
				}
				else{
					$j('input[id$="corr_only"]').prop('disabled', true);
				}
			});

			//This will trigger the above function and check what casepacks to
			//show every time the page loads.
			$j('select[id$="corr_type"]').trigger('change');
			//End Corrigated only enabler.

			//Enable autocomplete on all name fields.
			$j("input[id$=ship_to_name]").each(function() {
				autoComplete($j(this));
			});


		});//End jQuery document ready stuff.

		//Makes javascript stuff print to the console. Example: log('Hello World');
		function log(msg) {
		    setTimeout(function() {
		        throw new Error(msg);
		    }, 0);
		}

		//Adds an extra form to a formset dynamically.
		function cloneMore(selector, type) {
		    //Find out how many forms we're starting with.
            var total = parseInt($j('#id_' + type + '-TOTAL_FORMS').val());
            var total = parseInt(total)
			//Create a clone of the selected form. Using clone(true) breaks
			//auto completion for proof forms and has no other benefit.
		    if (type=="Proof"){
		   		var newElement = $j(selector).clone();
		    }
		    else{
		    	var newElement = $j(selector).clone(true);
		    }
		    //Increase the cloned form's labels, names, and IDs by 1.
		    log ('Incrementing labels, names, and ID by 1.');
		    // File fields are handled slightly differently
		    if (type=="ArtReqFiles"){
		    	log ('Cloning file field.');
		        newElement.find('input').each(function() {
	   				if($j(this).attr('for')){
	   					var new_for = $j(this).attr('for').replace((total-1), total);
	   					$j(this).attr({'for': new_for});
	   				}
	   				if($j(this).attr('id')){
	   					var new_id = $j(this).attr('id').replace((total-1), total);
	   					$j(this).attr({'id': new_id});
	   				}
	   				if($j(this).attr('name')){
	   					var new_name = $j(this).attr('name').replace((total-1), total);
	   					$j(this).attr({'name': new_name});
	   				}
	            });
		    }
		    // Whole forms have to have each header and cell incremented through.
		    else{
		    	log ('Cloning formset');
		        newElement.find('td, th').find('*').each(function() {
	   				if($j(this).attr('for')){
	   					var new_for = $j(this).attr('for').replace((total-1), total);
	   					$j(this).attr({'for': new_for});
	   				}
	   				if($j(this).attr('id')){
	   					var new_id = $j(this).attr('id').replace((total-1), total);
	   					$j(this).attr({'id': new_id});
	   				}
	   				if($j(this).attr('name')){
	   					var new_name = $j(this).attr('name').replace((total-1), total);
	   					$j(this).attr({'name': new_name});
	   				}
	            });
	        }
            //Increate the formset's total form count by 1.
            total++;
            $j('#id_' + type + '-TOTAL_FORMS').val(total);
	        //Put the newly cloned form after the original.
	        $j(selector).after(newElement);
	        //This clears all the values from the newly cloned form.
	        $j(selector + " input[type=text]").val("");
	        $j(selector + " input[type=file]").val("");
	        $j(selector + " input[type=number]").val("");
	        $j(selector + " select").val("");
	        $j(selector + " input[type=checkbox]").attr('checked', false);
            //This will increase the index number in the table's header by 1.
            $j(selector + ' .header_index').replaceWith("<span class='header_index'>"+ type + " " + total + "</span>");
			//Enable autocomplete on the newly cloned name field in proof forms.
		    if (type=="Proof"){
				autoComplete(selector + ' input[id$=ship_to_name]');
			}
		}//End formset cloning

		//Remove the last form from a formset dynamically.
		function removeForm(selector, type) {
			//Check which form this is by it's index number.
			var index = $j(selector + ' input').attr('id').split('-')[1];
			//Make sure we don't remove the very last form from the formset.
			if (index > 0){
				$j(selector).remove();
	            //Decreate the formset's total form count by 1.
	            var total = $j('#id_' + type + '-TOTAL_FORMS').val();
	            total--;
	            $j('#id_' + type + '-TOTAL_FORMS').val(total);
			}
		}//End formset remover.

		//Handles address book auto-complete for a given field.
		function autoComplete(field) {
			$j(field).autocomplete({
				minLength: 2,
				source: "/art_req/add/autocomplete/",
				focus: function( event, ui ) {
					$j(this).val( ui.item.name );
					return false;
				},
				select: function( event, ui ) {
					$j(this).val( ui.item.name );
					//Select this table. (The parent table.)
					var table = $j(this).closest('table')
					//Select and fill in the rest of the fields in this table.
					$(table).find('[id$="company"]').val(ui.item.company)
					$(table).find('[id$="addy_1"]').val(ui.item.addy_1)
					$(table).find('[id$="addy_2"]').val(ui.item.addy_2)
					$(table).find('[id$="city"]').val(ui.item.city);
					$(table).find('[id$="state"]').val(ui.item.state);
					$(table).find('[id$="zip"]').val(ui.item.zip)
					$(table).find('[id$="country"]').val(ui.item.country)
					$(table).find('[id$="email"]').val(ui.item.email)
					$(table).find('[id$="phone"]').val(ui.item.phone)
					return false;
				}
			})
			//This is where the drop-down choice field is defined.
			.data("autocomplete" )._renderItem = function( ul, item ) {
				return $j( "<li>" )
				.data( "item.autocomplete", item )
				.append( "<a>" + item.name + "<br><span class='smtext'>" + item.addy_1 + ", " + item.city + " " + item.state + "</span></a>")
				.appendTo( ul )
			}
		}
		//end addressbook auto-complete

	</script>
{% endblock %}

{% block body %}
	<p>
		<h1 class="inline">
			<img src="{{MEDIA_URL}}img/icons/add.png"
			style="vertical-align:text-center" alt="New Job" />
			New Art Request
		</h1>
	</p>

	<a href="/art_req/home/">Return to Art Request Home Page</a>

	<p>(Fields marked with * are required.)</p>

	<!-- Info about corrugated. Shown in a dialog when help button is clicked. -->
	<div id="corr_help" title="Corrugated Info">
		<p>Corrugated Type specifies what kind of corrugated box you want this
		product packed in. Depending on what type of corrugated you select you
		will be given different fields to fill out. Below are the different
		corrugated types, what they mean, and what type of info each field
		requires.</p>
		<h3>Corrugated Types</h3>
		<ul>
			<li><strong>GPI:</strong> Standard Foodservice corrugated box.</li>
			<li><strong>Custom:</strong> A customer specific pre-made corrugated
			box that that has generic graphics and no identification numbers.
			Only used for promotions.</li>
			<li><strong>Preprint:</strong> A customer specific pre-made
			corrugated box that has specific graphics and identification
			numbers.</li>
		</ul>
		<h3>GPI/Custom Fields</h3>
		<ul>
			<li><strong>Label Color:</strong> Literally what color you want the label to be.
			White is our most common color.</li>
			<li><strong>Label Copy 1-3:</strong> These three lines will be the
			description that goes on the box and spec sheet. Label Copy 1
			usually starts with the size and job name. Limited to 22 characters
			per line.</li>
		</ul>
		<h3>Preprint Fields</h3>
		<ul>
			<li><strong>Sleeve Count:</strong> Also known as the inner-pack.</li>
			<li><strong>Print Color:</strong> The color of the text and graphics on the box.</li>
			<li><strong>Case Color:</strong> The color of the corrugated used to make the box.
			Usually white or kraft.</li>
			<li><strong>Corrugated Plants:</strong> If you think you know which
			plant the corrugated will print at please specify it here.</li>
			<li><strong>Label Copy 1-3:</strong> These three lines will be the
			description that goes on the box and spec sheet. Label Copy 1
			usually starts with the size and job name. Limited to 22 characters
			per line.</li>
			<li><strong>Corrugated Only:</strong> This check box will become
			available when preprint corrugated is selected. By default a product
			with preprint corrugated will generate two jobs in GOLD: one for
			the product and another for the corrugated. In some cases you may
			want just the corrugated job to be generated and not the product
			job. Checking the Corrugated Only check box makes that happen.</li>
		</ul>
	</div>

	<!-- Info about print types. Shown in a dialog when help button is clicked. -->
	<div id="print_type_dialog" title="Print Types">
		<ul>
			<li><strong>Stock:</strong> Applies to all of our active stock
			prints. (Champagne, Ecotainer, etc.) These tend to be stock prints
			that we floor stock. Pricing group will administer setup and
			coordinate with Clemson.</li>
			<li><strong>Local:</strong> Custom print for make & ship customers.
			These tend to be distributor related customer leads and are
			included in rebate and broker commissions.</li>
			<li><strong>National:</strong> Custom print for floor stock
			customers. (Big chains such as McDonald's, Wendy's, etc.) These
			tend to be excluded from distributor rebate & broker commissions.
			These programs will be administered by the pricing group.</li>
			<li><strong>Trade:</strong> This will be limited to only the Coke
			and Pepsi stock. Pricing group will administer and coordinate with
			Clemson.</li>
			<li><strong>Branded:</strong> Proprietary stock print for
			distributors. These will have similar characteristics to the way we
			handle our GPI stock designs around rebates, commissions and POD
			rebates.</li>
		</ul>
	</div>

	<!-- Warnings and alerts for the top of the page. -->
	{% if new_jobs %}
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>Success! </strong>Your art request has been submitted.
				Below are some links to the newly created jobs in GOLD. Or, if
				you have another art request to enter you can go ahead and do
				that too.</p>
				<ul>
				{% for job in new_jobs %}
					<li><u><a href='{% url "job_detail" job.id %}'>{{job}}</a></u></li>
				{% endfor %}
				</ul>
				</div>
			</div>
			<br>
	{% else %}
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>Welcome! </strong>If this is your first time using the
				new art request system we strongly encourage you to take a few
				moments and watch <u><a href='{% url "video_player_home" %}'>this
				instructional video</a></u>. If you have any question please
				email <u><a href='mailto:{{EMAIL_SUPPORT}} ?Subject=Art%20Request%20Question'>
				{{EMAIL_SUPPORT}}</a></u>.
				</span></p>
				</div>
			</div>
			<br>
	{% endif %}
	<form method="post" id="form1" enctype="multipart/form-data" novalidate>
	{% if artreqform.errors or extraproofformset.errors or infoform.errors or productformset.errors or corrproductformset.errors%}
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<strong>Error:</strong> Something was entered incorrectly. Errors
			are highlighted in red. Be sure to check all tabs.</p>
		</div>
	</div>
	{% endif %}

	<!-- Start of tabs -->
	<div id="tabs">
	    <ul>
	        <li><a href="#tabs-1"><h3>Main Contact</h3></a></li>
	        <li><a href="#tabs-2"><h3>Extra Proofs</h3></a></li>
	        <li><a href="#tabs-3"><h3>Products</h3></a></li>
	        <li><a href="#tabs-4"><h3>Additional Info</h3></a></li>
	    </ul>

	    <!-- Main Contact Tab-->
	    <div id="tabs-1">
			<table>
			<h3>Job Info</h3>
			{% for field in artreqform %}
			    <tr>
			        <th>{{ field.label_tag }}</th>
			        <td>
			        	{{ field.errors }}
			        	{{ field }}
			        	{{ field.help_text }}
			        	{% ifequal field.name "mkt_segment" %}
							<div id="mkt_seg_dialog">
							    <p>Please select a market segment to learn more
							    about it.</p>
							</div>
							<button id="mkt_seg_opener">Click to learn more
							about this market segment.</button>
		        		{% endifequal %}
			        	{% ifequal field.name "print_type" %}
							<button id="print_type_opener">Click to learn more
							about print types.</button>
		        		{% endifequal %}
			        	{% ifequal field.name "printgroup" %}
			        		</table>
			        		<table>
			        		<h3>Customer Info </h3>
		        		{% endifequal %}
			        	{% ifequal field.name "save_address" %}
			        		{% if perms.accounts.salesperson or perms.accounts.clemson_employee%}
			        		<a href='{% url "address_home" %}'
			        		target="_blank">
								<img src="{{MEDIA_URL}}img/icons/book_addresses.png"
								style="vertical-align:bottom" alt="Address Book"
								title = "Click to open address book." />
							</a>
							{% endif %}
		        		{% endifequal %}
			        </td>
			    </tr>
			{% endfor %}
			</div>
			</table>

	    </div><!-- End of Main Contact Tab-->

	    <!-- Extra Proofs Tab-->
	    <div id="tabs-2">
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				If you need additional proofs to go to someone besides the
				customer please enter their info here.</p>
				</div>
			</div>
			<br>
		    {{ extraproofformset.management_form }}
		    {% for form in extraproofformset.forms %}
		    {{ form.id }}
			    <div class='prooftable'>
			    <h3>Proof</h3>
			    <table>
			        <!--{{ form }}-->
				{% for field in form %}
					{% ifnotequal field.name "id" %}
					    <tr>
					        <th>{{ field.label_tag }}</th>
					        <td>
					        	{{ field.errors }}
					        	{{ field }}
					        	{{ field.help_text }}
				        	{% ifequal field.name "save_address" %}
				        		{% if perms.accounts.salesperson or perms.accounts.clemson_employee%}
				        		<a href='{% url "address_home" %}'
				        		target="_blank">
									<img src="{{MEDIA_URL}}img/icons/book_addresses.png"
									style="vertical-align:bottom" alt="Address Book"
									title = "Click to open address book." />
								</a>
								{% endif %}
			        		{% endifequal %}
					        </td>
					    </tr>
				    {% endifnotequal %}
				{% endfor %}
		        </table>
		        </div>
		    {% endfor %}
		    <!--This script will give cloneMore all the info it needs to make
		    an additional copy of the above form when the add button is clicked.
		    cloneMore("Table to copy.", "Formset prefix that was defined in the
		    view.")-->
			<p><button type="button" id="add_more_proof" >Add More</button>
			<button type="button" id="remove_proof">Remove Last</button></p>
			<script>
			    $j('#add_more_proof').click(function() {
			        cloneMore('div.prooftable:last', 'Proof');
			    });
			    $j('#remove_proof').click(function() {
			    	removeForm('div.prooftable:last', 'Proof');
			    });
			</script>
	    </div><!-- End of Extra Proofs Tab-->

		<!-- Product Selection Tab -->
	    <div id="tabs-3">
		    {{ productformset.management_form }}
		    {% for form in productformset.forms %}
		    	{{ form.id }}
		    	<div class='producttable'>
		   			<h3><span class="header_index">Product {{form.prefix|cut:"Product-"|add:"1"}}</span></h3>
				    <table id="product_table" class='product_table_class'>
				    	<tr>
				    	<th>{{ form.size.label_tag }}</th>
				    	<td>
				        	{{ form.size.errors }}
				        	{{ form.size }}
				        	{{ form.size.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<th>{{ form.case_pack.label_tag }}</th>
				    	<td>
				        	{{ form.case_pack.errors }}
				        	{{ form.case_pack }}
				        	{{ form.case_pack.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<th>{{ form.annual_usage.label_tag }}</th>
				    	<td>
				        	{{ form.annual_usage.errors }}
				        	{{ form.annual_usage }}
				        	{{ form.annual_usage.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<th>{{ form.order_quantity.label_tag }}</th>
				    	<td>
				        	{{ form.order_quantity.errors }}
				        	{{ form.order_quantity }}
				        	{{ form.order_quantity.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<th>{{ form.customer_number.label_tag }}</th>
				    	<td>
				        	{{ form.customer_number.errors }}
				        	{{ form.customer_number }}
				        	{{ form.customer_number.help_text }}
				    	</td>
				    	</tr>
						<tr>
							<th>{{ form.render.label_tag }}</th>
							<td>
								{{ form.render.errors }}
								{{ form.render }}
								{{ form.render.help_text }}
							</td>
							</tr>
				    	<tr>
				    	<th>{{ form.wrap_proof.label_tag }}</th>
				    	<td>
				        	{{ form.wrap_proof.errors }}
				        	{{ form.wrap_proof }}
				        	{{ form.wrap_proof.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<th>{{ form.mock_up.label_tag }}</th>
				    	<td>
				        	{{ form.mock_up.errors }}
				        	{{ form.mock_up }}
				        	{{ form.mock_up.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<tr>
				    	<th>{{ form.ink_jet_promo.label_tag }}</th>
				    	<td>
				        	{{ form.ink_jet_promo.errors }}
				        	{{ form.ink_jet_promo }}
				        	{{ form.ink_jet_promo.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<th>{{ form.label_promo.label_tag }}</th>
				    	<td>
				        	{{ form.label_promo.errors }}
				        	{{ form.label_promo }}
				        	{{ form.label_promo.help_text }}
				    	</td>
				    	</tr>
				    	<th>{{ form.plant1.label_tag }}</th>
				    	<td>
				        	{{ form.plant1.errors }}
				        	{{ form.plant1 }}
				        	{{ form.plant1.help_text }}
							/
				        	{{ form.press1.errors }}
				        	{{ form.press1 }}
				        	{{ form.press1.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<td></td>
				    	<td>
				        	{{ form.plant2.errors }}
				        	{{ form.plant2 }}
				        	{{ form.plant2.help_text }}
							/
				        	{{ form.press2.errors }}
				        	{{ form.press2 }}
				        	{{ form.press2.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<td></td>
				    	<td>
				        	{{ form.plant3.errors }}
				        	{{ form.plant3 }}
				        	{{ form.plant3.help_text }}
							/
				        	{{ form.press3.errors }}
				        	{{ form.press3 }}
				        	{{ form.press3.help_text }}
				    	</td>
				    	</tr>
				    	<tr>
				    	<th>{{ form.ship_to_state.label_tag }}</th>
				    	<td>
				        	{{ form.ship_to_state.errors }}
				        	{{ form.ship_to_state }}
				        	{{ form.ship_to_state.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="selector_corrigated">
				    	<th>{{ form.corr_type.label_tag }}</th>
				    	<td>
				        	{{ form.corr_type.errors }}
				        	{{ form.corr_type }}
				        	{{ form.corr_type.help_text }}
						    {{ form.corr_only }}
						    {{ form.corr_only.help_text }}
							<button id="corr_help_opener">Click to learn more
							about corrugated options.</button>
				    	</td>
				    	</tr>
				    	<!-- Elements below here may be hidden or shown.
		    			corrigated are gpi and custom corrigated fields
		    			corrigated_preprint_field are preprint corrugated fields
		    			corrigated_all are fields common to all types
			    		-->
				    	<tr class="corrigated_preprint_field">
				    	<th>{{ form.sleeve_count.label_tag }}</th>
				    	<td>
				        	{{ form.sleeve_count.errors }}
				        	{{ form.sleeve_count }}
				        	{{ form.sleeve_count.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated_preprint_field">
				    	<th>{{ form.print_color.label_tag }}</th>
				    	<td>
				        	{{ form.print_color.errors }}
				        	{{ form.print_color }}
				        	{{ form.print_color.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated_preprint_field">
				    	<th>{{ form.case_color.label_tag }}</th>
				    	<td>
				        	{{ form.case_color.errors }}
				        	{{ form.case_color }}
				        	{{ form.case_color.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated_preprint_field">
				    	<th>{{ form.corr_plant1.label_tag }}</th>
				    	<td>
				        	{{ form.corr_plant1.errors }}
				        	{{ form.corr_plant1 }}
				        	{{ form.corr_plant1.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated_preprint_field">
				    	<td></td>
				    	<td>
				        	{{ form.corr_plant2.errors }}
				        	{{ form.corr_plant2 }}
				        	{{ form.corr_plant2.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated_preprint_field">
				    	<td></td>
				    	<td>
				        	{{ form.corr_plant3.errors }}
				        	{{ form.corr_plant3 }}
				        	{{ form.corr_plant3.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated">
				    	<th>{{ form.label_color.label_tag }}</th>
				    	<td>
				        	{{ form.label_color.errors }}
				        	{{ form.label_color }}
				        	{{ form.label_color.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated_all">
				    	<th>{{ form.label_copy_1.label_tag }}</th>
				    	<td>
				        	{{ form.label_copy_1.errors }}
				        	{{ form.label_copy_1 }}
				        	{{ form.label_copy_1.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated_all">
				    	<th>{{ form.label_copy_2.label_tag }}</th>
				    	<td>
				        	{{ form.label_copy_2.errors }}
				        	{{ form.label_copy_2 }}
				        	{{ form.label_copy_2.help_text }}
				    	</td>
				    	</tr>
				    	<tr class="corrigated_all">
				    	<th>{{ form.label_copy_3.label_tag }}</th>
				    	<td>
				        	{{ form.label_copy_3.errors }}
				        	{{ form.label_copy_3 }}
				        	{{ form.label_copy_3.help_text }}
				    	</td>
				    	</tr>
				    </table>
			    </div>
		    {% endfor %}
		    <!--This script will give cloneMore all the info it needs to make
		    an additional copy of the above form when the add button is clicked.
		    cloneMore("Table to copy.", "Formset prefix that was defined in the
		    view.")-->
		    <p><button type="button" id="add_more_product" >Add More</button>
			<button type="button" id="remove_product">Remove Last</button></p>
			<script>
			    $j('#add_more_product').click(function() {
			        cloneMore('div.producttable:last', 'Product');
			    });
			    $j('#remove_product').click(function() {
			    	removeForm('div.producttable:last', 'Product');
			    });
			</script>
	    </div><!-- End of Product Selection Tab-->

        <!-- Additional Info Tab-->
        <div id="tabs-4">
            <table>
                {% for field in infoform %}
	                <tr>
	                    <th>{{ field.label_tag }}</th>
	                    <td>
	                        {{ field.errors }}
	                        {{ field }}
	                        {{ field.help_text }}
	                    </td>
	                </tr>
                {% endfor %}
                <tr>
                	<th><label>File Upload</label></th>
					<td>
				        {{ fileformset.management_form }}
				        {% for form in fileformset.forms %}
				            {{ form.id }}
				            {% for field in form %}
				                <div class="art_upload">
				                    {{ field.errors }}
				                    {{ field }}
				                </div>
				            {% endfor %}
				        {% endfor %}
				        <p><button type="button" id="add_more_file">Add More</button></p>
                        <script>
                            $j('#add_more_file').click(function() {
                                cloneMore('div.art_upload:last', 'ArtReqFiles');
                            });
                        </script>
                        {% if filelist %}
                        	<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
							<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                        	You have already uploaded <strong>{{ filelist|join:", " }}.</strong>
                        	</div>
                        {% endif %}
                        <p>*Files will not be saved with the "Save" button below. Only upload files when you are ready to click "Review Request".</p>
            		</td>
            	</tr>
            </table>
        </div><!-- End of Additional Info Tab-->

	</div><!-- End of Tabs -->
	</form>
{% endblock %}
