<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>gch.script.jobfolderaudit</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/admin/gchub_db/bin/jobfolder_audit.py</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>10</integer>
			<key>Hour</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
