<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>gch.script.inkcoverage</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/admin/gchub_db/bin/process_ink_coverages.py</string>
	</array>
	<key>StartInterval</key>
	<integer>15</integer>
</dict>
</plist>
