{% extends "standard.html" %}

{% block body %}
	<H1>Reds</H1>
	<table width="50%">
		<tr>
			<th>Color</th>
			<th>Times Measured</th>
			<th>Average Delta-E</th>
		</tr>
		{% for item in reds %}
			<tr class="{% cycle 'rowA' 'rowB' %}">
				<td>
					{{ item }} {{ item.coating }}
				</td>
				<td>
					{{ item.fsb_usage_count }}
				</td>
				<td>
					{{ item.avg_delta|floatformat:2 }}
					{% if item.avg_delta_warning %}
   						<img width="14px" height="14px" style="vertical-align:
   						text-bottom;" src="/media/img/icons/exclamation.png">
   					{% endif %}
				</td>
				<td width="25%" style="background-color: {{ item.hexvalue }};">
					&nbsp;&nbsp;
				</td>
			</tr>
		{% endfor %}
	</table>

	<H1>Yellows</H1>
	<table width="50%">
		<tr>
			<th>Color</th>
			<th>Times Measured</th>
			<th>Average Delta-E</th>
		</tr>
		{% for item in yellows %}
			<tr class="{% cycle 'rowA' 'rowB' %}">
				<td>
					{{ item }} {{ item.coating }}
				</td>
				<td>
					{{ item.fsb_usage_count }}
				</td>
				<td>
					{{ item.avg_delta|floatformat:2 }}
					{% if item.avg_delta_warning %}
   						<img width="14px" height="14px" style="vertical-align:
   						text-bottom;" src="/media/img/icons/exclamation.png">
   					{% endif %}
				</td>
				<td width="25%" style="background-color: {{ item.hexvalue }};">
					&nbsp;&nbsp;
				</td>
			</tr>
		{% endfor %}
	</table>

	<H1>Greens</H1>
	<table width="50%">
		<tr>
			<th>Color</th>
			<th>Times Measured</th>
			<th>Average Delta-E</th>
		</tr>
		{% for item in greens %}
			<tr class="{% cycle 'rowA' 'rowB' %}">
				<td>
					{{ item }} {{ item.coating }}
				</td>
				<td>
					{{ item.fsb_usage_count }}
				</td>
				<td>
					{{ item.avg_delta|floatformat:2 }}
					{% if item.avg_delta_warning %}
   						<img width="14px" height="14px" style="vertical-align:
   						text-bottom;" src="/media/img/icons/exclamation.png">
   					{% endif %}
				</td>
				<td width="25%" style="background-color: {{ item.hexvalue }};">
					&nbsp;&nbsp;
				</td>
			</tr>
		{% endfor %}
	</table>

	<H1>Blues</H1>
	<table width="50%">
		<tr>
			<th>Color</th>
			<th>Times Measured</th>
			<th>Average Delta-E</th>
		</tr>
		{% for item in blues %}
			<tr class="{% cycle 'rowA' 'rowB' %}">
				<td>
					{{ item }} {{ item.coating }}
				</td>
				<td>
					{{ item.fsb_usage_count }}
				</td>
				<td>
					{{ item.avg_delta|floatformat:2 }}
					{% if item.avg_delta_warning %}
   						<img width="14px" height="14px" style="vertical-align:
   						text-bottom;" src="/media/img/icons/exclamation.png">
   					{% endif %}
				</td>
				<td width="25%" style="background-color: {{ item.hexvalue }};">
					&nbsp;&nbsp;
				</td>
			</tr>
		{% endfor %}
	</table>

	<H1>Grays</H1>
	<table width="50%">
		<tr>
			<th>Color</th>
			<th>Times Measured</th>
			<th>Average Delta-E</th>
		</tr>
		{% for item in grays %}
			<tr class="{% cycle 'rowA' 'rowB' %}">
				<td>
					{{ item }} {{ item.coating }}
				</td>
				<td>
					{{ item.fsb_usage_count }}
				</td>
				<td>
					{{ item.avg_delta|floatformat:2 }}
					{% if item.avg_delta_warning %}
   						<img width="14px" height="14px" style="vertical-align:
   						text-bottom;" src="/media/img/icons/exclamation.png">
   					{% endif %}
				</td>
				<td width="25%" style="background-color: {{ item.hexvalue }};">
					&nbsp;&nbsp;
				</td>
			</tr>
		{% endfor %}
	</table>

	<H1>Errors (Missing either a C or H value to compare)</H1>
	<table width="50%">
		<tr>
			<th>Color</th>
			<th>Times Measured</th>
			<th>Average Delta-E</th>
		</tr>
		{% for item in errors %}
			<tr class="{% cycle 'rowA' 'rowB' %}">
				<td>
					{{ item }} {{ item.coating }}
				</td>
				<td>
					{{ item.fsb_usage_count }}
				</td>
				<td>
					{{ item.avg_delta|floatformat:2 }}
					{% if item.avg_delta_warning %}
   						<img width="14px" height="14px" style="vertical-align:
   						text-bottom;" src="/media/img/icons/exclamation.png">
   					{% endif %}
				</td>
				<td width="25%" style="background-color: {{ item.hexvalue }};">
					&nbsp;&nbsp;
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
